@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Permanent+Marker&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos comunes */

html{
  --sombra: 1px 2px 5px rgba(0, 0, 0, 0.233);
}

body{
font-family: 'Lato', sans-serif;
background-color: rgb(203, 255, 255);
min-height: 100vh;
display: flex;
flex-direction: column;
}

main{
  flex-grow: 1;
  text-align: center;
}

menu{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;
  color: rgb(217, 0, 217);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.783);
}

h1{
  font-family: "Permanent Marker", cursive, Lato, sans-serif;

  font-size: 2rem;

  text-align: center;
}



/* SOBRE MI */

main#about{
display: flex;
flex-direction: column;
align-items: center;
}

#about img{
width: 80vw;
height: 80vw;
object-fit: cover;
border-radius: 50%;
box-shadow: var(--sombra);
}

#about section{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  gap: 1rem;
}


/* PROYECTOS */

#projects section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#projects h2{
  width: 100%;
}

#projects article{
background: white;
width: 15rem;
height: 20rem;
border-radius: 10px;
box-shadow: var(--sombra);

display: flex;
flex-direction: column;
gap: 1rem;
padding: 1rem 0;
}

#projects article img{
  width: 100%;
  height: 7rem;
  object-fit: cover;
  margin-top: 1rem;

}

#projects article p{
  flex-grow: 1;
}

#projects article ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#projects article a{
  display: block;

  font-size: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#projects article a[href*="github"]{
  background-image: url(./icons/github.svg);
}

#projects article a[href*="misitio"]{
  background-image: url(./icons/eye.svg);
}

@media (min-width: 600px){
  main{
    text-align: left;
    max-width: 700px;
    margin: auto;
  }

  main#about{
    flex-direction: row;
    gap: 2rem;
    text-align: center;
  }

  #about img{
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;
  }

  main#projects{
    max-width: 90%;
  }

  #projects article h2{
    text-align: center;
  }

  #projects article p{
    padding: 0 1rem ;
  }
}