*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seccion de divs */

section{

  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid blue;
  display: flex;
  flex-wrap: wrap;

  height: 50rem;
  justify-content: space-evenly;

}


div{
  background: lightblue;
  border: 1px solid black;
/*   height: 10rem; */
  width: 10rem;
}

/* ORDER */
/* Por defecto todo tiene 0 */
div:nth-child(6){
  order: -1;
}

div:nth-child(7){
  order: -2;
}

div:nth-child(8){
  order: -1;
}

div:nth-child(5){
  order: 1;
}

div:nth-child(4){
  order: 1;
}

div:nth-child(3){
  order: 2;
}


/* Estirar elementos */
div:nth-child(2){
  /* Por defecto: 0 */
  flex-grow: 1;
}

div:nth-child(9){
  flex-grow: 3;
}

div:nth-child(5){
  flex-grow: 1;
}

div:nth-child(3){
  flex-grow: 2;
}

/* Encoger elementos */
div:nth-child(5){
  /* Por defecto: 1 */
  flex-shrink: 0;
}

div:first-child{
  flex-shrink: 3;
}

/* Saltarse la alineacion (eje secundario) */
div:nth-child(9){
  align-self: center;
}


/* Articles */

article{
  border: 1px solid black;
  width: 15rem;

  /* inline-block + flex = inline-flex */
  display: inline-flex;
  flex-direction: column;
}