@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;0,900;1,400;1,600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: url(../img/hamburguesa.png) fixed;
  background-size: cover;
  background-position: center;

  font-family: Rubik, sans-serif;

  --color: rgb(9, 0, 73);

  color: var(--color);

  display: flex;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
}

fieldset{
  border: none;
  width: 100%;
  max-width: 25rem;
}

legend{
  text-align: center;
}

ul{
  list-style: none;
  width: 100%;
}

form > fieldset > legend{
  text-transform: uppercase;
  font-weight: bolder;
}

fieldset fieldset legend{
  font-style: italic;
  font-weight: bold;
  margin: 0.5rem;
}

form label{
  font-style: italic;
}

form > fieldset{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

fieldset fieldset ul{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

form > fieldset:nth-child(2) label, form > fieldset:nth-child(2) input, textarea{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

select{
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}

button{
  color: white;
  background-color: var(--color);
  border: none;
  padding: 0.2rem 0.5rem;

}