*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh; /* ! */
  display: grid;/* ! */

  /* Alguna fila tiene que tener 1fr */
  grid-template-rows: 5rem 1fr 2rem;


}

header{
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  background: lightgrey;
}

img{
  max-width: 100%;
/*   height: 150vh; */
}