


@keyframes titulo{
  from{
    color: blue;
  }
  to{
    color: blueviolet;
    text-shadow: 0 0 5px magenta;
  }
}

h1{

  /* Define la animacion (abreviada)
  Minimo necesita el nombre de la animacin y la duracin */
  animation: titulo 1s;

  /* Cantidad de veces que se repite la animacin */
  animation-iteration-count: 3;

  /* Cuanto tarda en empezar la animacin */
  animation-delay: 2s;

  /* 
  Define en que orden se ejecuta la animcion
  nomal: de principio a fin
  reverse: de fin a principio
  alternate: empieza normal, la seguna vuelta es al revs y as sucesivamente
   */
  animation-direction: alternate;

  /* 
  Como se comporta el elemento antes o despus de la animacin

  backwards: la animacin hace el delay en el frame 0 (ya con los cambios aplicados)
  forwards: al acabarse la animacion, el elemento mantiene los cambios
  both: ambas
  */

  animation-fill-mode: both;
}

@keyframes rainbow{
  0%{
    background: red;
  }
  20%{
    background: orange;
    transform: translate(2rem, 5rem);
  }
  40%{
    background: yellow;
  }

  /* Para hacer saltos: */
/*   59%{
    background: yellow;

  } */
  60%{
    background: green;
    transform: translate(8rem, 3rem);

  }
  80%{
    background: blue;

  }
  100%{background: rebeccapurple;}
}

div{
  width: 10rem;
  height: 10rem;
  border: 1px solid black;

  animation: rainbow 4s;

  /* Cual es la animacion (sin abreviar */
  animation-name: rainbow;

  /* La duracion */
  animation-duration: 3s;

  /* La curva de la animacin */
  animation-timing-function: ease;

  /* Lo que tarda en empezzar */
  animation-delay: 1s;

  /* La cantidad de veces que se repite */
  animation-iteration-count: infinite;

  /* En que orden se reproduce */
  animation-direction: reverse;
}

