* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

svg {
  fill: gray;
}

.like{
  animation: like 0.5s;
  animation-fill-mode: forwards;
}


@keyframes like{
  0%{
    /* transform: scale(1); */ /* lo asume */
  /* fill: gray; */ /* lo asume */
  }
  25%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(0.8);
  }
  75%{
    transform: scale(1.2);
  }
  100%{
    fill: red;
    /* transform: scale(1); */ /* lo asume */
  }
}